



 body{
	/* margin-top:-21px;*/
	padding:0px;
	margin-top:-20px;
	font-family: 'Roboto', sans-serif;
	

}
h1{
    padding-top:0px;
    margin-top:0px;
}

li{
	font-size:16px;
	font-family: 'Roboto', sans-serif;


}
p{
	font-size:16px ;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
    letter-spacing: 0.15em;
}

mark{
    color:black;
    background-color: rgba(235, 202, 159, 0.7);
}

/* opening  first page to introduce the website */

#front{

	height: 100vh;
    min-width: 100%;
	background-image:url("images/frontT2.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	overflow: hidden;
	background-size:cover;

	
}

#front p{
	font-family: 'Roboto Slab', serif;
	text-align:center;
    font-weight: 400;
}

.borderr{
	margin:5vh 5%;
	padding:20% 0px;	
}

#title{
    position: relative;
	width:30em;
	margin:30vh auto;
	background-color:rgba(255, 255, 255, 0.5); 
}

#tit1{
    font-family: 'Courgette', cursive;
    font-size: 3em;
	text-align:center;
	margin-bottom: 20px;
}

#tit2{
    display: block;
    text-align:center;
	font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.8em;
    letter-spacing: 7px;
}



/* Barra de progresso */

 
 .meenuu{
	display:flex;
	justify-content: center;
    align-items: center;
	padding:10px;
	width:100%;
	margin:0px; 
	font-size:16px;
	letter-spacing: 1px;
	
}

.nav-item{
	display:flex;
	justify-content: center;
    align-items: center;
	text-align:middle;
	width:25%
}
 
.nav-link{
	color: #ebca9f;
	 
	 
	
}

.nav-link:hover{
	 color: white;
	  text-decoration: none;
}

.sticky-top{
	 
    padding:0px;
    margin:0px;
    min-width: 100%;
	width:100%;
	background-image:url("images/ingre.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size:cover;

}


.progress-bar{
	background-color: #ebca9f;
	height:2px;
}

/* conteudo das receitas*/

#conteudo{

    min-width: 100%;
	padding:0px;
	background-image:url("images/ingre.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	color: #ebca9f;
	background-size:cover;

}




.row{
	padding-top: 2.5% ;
	padding-bottom: 2.5% ;
}

.section{
    max-width:80%;
	padding: 50px 0px;
}



.section li{
	margin-bottom:20px ;
	letter-spacing:0.15em;
}

.esconde{
	padding-top: 0px ;
	padding-bottom: 0px ;
}

#ricee{
	margin-top: 80px;
}



.impresion {
	padding:0;
	margin-left:auto;
	margin-right:auto;
    width:90%;
	height:auto;
}


.subTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 7.4em;
    top:0;
    padding:0px 0px;
	text-align:left; 
	 z-index: 1;
	
	
}

.list{
    font-family: 'Roboto Slab', serif;
    padding-top:25px ;
	padding-bottom:10px ;
	float:right;
	width:22%;
    letter-spacing: 4px;
    font-weight: 300;
    font-size:1.1em;
	top:-20vh;
	background-image:url("images/ingre.jpg");
	border: 1px solid #ebca9f;
	color: #ebca9f;
	
}
.abaixo{
	  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}


.instr{
	width:50%; 
	padding-top: 20px;
}
.text-steps{
	padding-right:5%;
	 padding-left:9%
}

.chopp {
	background-size:150% ;
	padding:9% 8%;
	background-image:url("images/chopped.jpg");
	background-repeat: no-repeat;
    background-position: center bottom;
	margin-left:10%;
	margin-right:20%;
    width:60%;
	height:auto;	
	text-align: center;
	color: black;
	
   
  
}
.chopp p {

	font-size: 36px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: black;

   
  
}


.wand{
	background-size:190% ;
	background-image:url("images/wand.jpg");
	background-repeat: no-repeat;
    background-position: center bottom;
	padding:6% 4% 6% 4%;
	text-align:center;
	font-family: 'Roboto Slab', serif;

	font-weight: 400;
    font-size: 2em;
	color: white;
  
}



.primeiro  {
	padding:0;
	margin:0;
    letter-spacing: 3.8px;
    font-weight: 200;
    font-size: 0.8em;

}
.segundo  {
	padding:0;
	margin:0;
    letter-spacing: 12px;
	font-family: 'Roboto', sans-serif;
	line-height:180%;
    font-weight: 800;
    font-size: 1em;

}


.terceiro {
	padding:0;
	margin:0;
	letter-spacing: 6px;

    font-weight: 300;
    font-size: 0.9em;

}

.season {
	background-size:170% ;
	font-family: 'Courgette', cursive;
    font-size: 2.6em;
	color: white;
	 text-shadow: 0 0 8px black;
	
	padding:10% 14%;
	background-image:url("images/seasoning.jpg");
	background-repeat: no-repeat;
    background-position: center bottom ;
	margin-left:16%;
	height:auto;
	width:50%
  
}

.img-curry{
	overflow:hidden;
	top:-7vh; 
	height:50%;
}


#conclusionn{
	margin-bottom:70px;
	font-size:16px;
}



.con{
	width:50%;
	padding-top:10vh;
}

.conc{
	width:65%;
	margin: 5vh auto;
}

.moi{
	width:89%;
	height:auto;
	display:flex;
	justify-content: center;
    align-items: center;
	margin-left: auto;
	margin-right: auto;
}



#pizza{

	height: 100vh;
    min-width: 100%;
	background-image:url('images/temp.jpg'); 
	
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	overflow: hidden;
	background-size:cover;

	
    
    
}

/* parallax stuff */
.BoxPara {
    background-image:url("images/arroz.jpg");
	background-repeat: no-repeat;
    background-position: center;
    width:200px;
    height:300px;
    
}

.yaya {
	
    width:100%;
	height:auto;
  
}






@media (max-width: 991px){
	

	.meenuu li{
		font-size:14px
	}
	
	
	#front{

	background-size:1450px ;
	background-size:cover;

       
}



.list{ 
	top:-325px;	
	width:25%;
	font-size: 0.9em;
}

#ricee .text-steps{
	margin-top: 70px;
	margin-bottom: 100px;
}

#tomatoo .text-steps{
	
	margin-bottom: 100px;
}

#curryy{

	padding-bottom: 10px;

}

#curryy .text-steps{
	margin-top: 40px;
	padding-bottom: 140px;
	width:100%;
}

#conclusionn{
	padding-top:0px;
	margin-bottom:20px;
}

#conclusionn .text-steps{
	margin-bottom: 70px;

}

#BowlRice{
	padding: 0px 5%;
}

.img-curry{
	margin:auto;
	width:90%;
}

.esconde{
	height:10vh;
}

.subTitle{
	
	font-size: 7em;
}

.chopp {
    width:70%;
  
}

.season {	
	font-size: 2em;	
	padding:5vh;
	margin-left:auto;
	margin-right:auto; 
}

.con{
	width:100%;
	padding-top:0px;
	margin-bottom:10vh;
}

.moi{
	width:80%;
	height:auto;
	
}

	
}

@media (max-width: 767px) { 

	
.nav-item{
	padding:0px;
	
}
	
	.list{ 
	top:-270px;
	width:30%;
	font-size: 0.9em;
	}

	.esconde{
	height:6vh;
	}

	.subTitle{
	font-size: 5em;
	}
	
	.chopp {
	margin-left:5%;
	margin-right:5%;
    width:90%;
	height:auto;
	padding:9% 2%;
	font-size: 3em;
	}
	
	.chopp p{
		width:60%;
		margin:0px 20%;
	}

	.conc{
	margin: 1vh auto;
	}
	
	

}

@media (max-width: 576px) { 

	.meenuu li{
		font-size: 12px ;
	}
		
	
	.wand{
		padding:12% 4% 8% 12%;
 
    font-size: 1.4em;
	
		
	}
	
	.list{ 
	top:-205px;
	width:32%;
	font-size: 0.8em;
	padding-left:1vh;
	padding-right:1vh;
	}

	

	.esconde{
	height:8vh;
	}

	.subTitle{
	
	font-size: 5em;
	}
	
	
	.chopp {
	background-size:180%;
	margin: 3% 3%;
    width:90%;
	height:auto;
	min-width:300px;
	font-size: 14px;
	
	}
	
	.chopp p{

	font-size: 24px;
	font-weight: 400px;
	}
	
	.season {
	background-size:100% ;
    font-size: 1.9em;
	
   margin-left:auto;
   margin-right:auto;
   height:auto;
   width:100%
  
}

	
}






